<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.cotree.order.repository.OrderRepository">
    <insert id="saveOrder" parameterType="com.futurenet.cotree.order.dto.request.OrderRegisterRequest"
            useGeneratedKeys="true"
            keyProperty="orderId"
            keyColumn="id">
        INSERT INTO orders (member_id, order_number, destination, receiver_name, receiver_tel, request)
        VALUES(#{request.memberId}, #{request.orderNumber}, #{request.destination}, #{request.receiverName}, #{request.receiverTel}, #{request.request})
    </insert>
</mapper>