<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.cotree.order.repository.OrderItemRepository">

    <select id="getAllOrderItemsByOrderIds" resultType="com.futurenet.cotree.order.dto.OrderItemDto">
        SELECT oi.order_id AS orderId,
        oi.item_id AS itemId,
        oi.quantity AS quantity,
        i.name AS itemName,
        i.thumbnail_image AS itemThumbnailImage,
        i.is_green AS isGreen,
        i.price AS price,
        i.discount AS discount
        FROM order_item oi JOIN item i ON oi.item_id = i.id
        WHERE oi.order_id IN
        <foreach collection="orderIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getOrderItemsWithItemInfoByOrderId" resultType="com.futurenet.cotree.order.dto.response.OrderItemResponse">
        SELECT i.id AS itemId,
        i.name AS itemName,
        i.thumbnail_image AS itemThumbnailImage,
        i.is_green AS isGreen,
        i.price AS price,
        i.discount AS discount,
        oi.quantity AS quantity
        FROM order_item oi JOIN item i ON oi.item_id = i.id
        WHERE oi.order_id = #{orderId}
    </select>


    <select id="getEcoItemPurchaseCountThisMonth" resultType="int">
        SELECT COUNT(*) AS ecoCount
        FROM order_item oi
        JOIN orders o ON oi.order_id = o.id
        JOIN item i ON oi.item_id = i.id
        WHERE i.is_green = 'Y'
        AND o.member_id = #{memberId}
        AND o.created_at BETWEEN #{start} AND #{end}
    </select>

    <select id="getOrderItemsByOrderId" resultType="com.futurenet.cotree.order.domain.OrderItem">
        SELECT id, order_id AS orderId, item_id AS itemId, quantity
        FROM order_item
        WHERE order_id = #{orderId}
    </select>

    <insert id="saveOrderItems">
        INSERT INTO order_item (order_id, item_id, quantity)
        VALUES
        <foreach collection="request" item="item" separator=",">
            (#{orderId}, #{item.itemId}, #{item.quantity})
        </foreach>
    </insert>

</mapper>