<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.cotree.order.repository.OrderRepository">
    <insert id="saveOrder" parameterType="com.futurenet.cotree.order.dto.request.OrderRegisterRequest"
            useGeneratedKeys="true"
            keyProperty="orderId"
            keyColumn="id">
        INSERT INTO orders (member_id, order_number, destination, receiver_name, receiver_tel, request)
        VALUES(#{request.memberId}, #{request.orderNumber}, #{request.destination}, #{request.receiverName}, #{request.receiverTel}, #{request.request})
    </insert>
    
    <update id="updateOrderStatus">
        UPDATE orders
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <select id="getOrderStatus" resultType="com.futurenet.cotree.order.dto.MemberOrderStatusDto">
        SELECT COUNT(id) AS count, status
        FROM orders
        WHERE member_id = #{memberId}
        GROUP BY status
    </select>

    <select id="getOrderByMemberIdAndStatus" resultType="com.futurenet.cotree.order.domain.Order">
        SELECT id, order_number AS orderNumber, updated_at AS orderDate, status
        FROM orders
        WHERE member_id = #{memberId}
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        ORDER BY updated_at DESC
        OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="getOrderByOrderNumber" resultType="com.futurenet.cotree.order.dto.response.OrderDetailResponse">
        SELECT
        o.id AS orderId,
        o.member_id AS memberId,
        o.order_number AS orderNumber,
        o.destination AS destination,
        o.receiver_name AS receiverName,
        o.receiver_tel AS receiverTel,
        o.request AS request,
        o.status AS status,
        p.price AS totalPrice,
        NVL(gp.amount, 0) AS rewardGreenPoint
        FROM orders o JOIN payment p ON o.id = p.order_id LEFT JOIN green_point gp ON p.id = gp.payment_id
        WHERE o.order_number = #{orderNumber}
    </select>

    <select id="getOrderByOrderNumberForPayConfirm" resultType="com.futurenet.cotree.order.domain.Order">
        SELECT id, member_id
        FROM orders
        WHERE order_number = #{orderNumber}
    </select>
</mapper>