<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.futurenet.cotree.greenpoint.repository.GreenPointRepository">

    <select id="getPoint" parameterType="long">
        SELECT NVL(SUM(amount), 0) AS point
        FROM green_point
        WHERE member_id = #{memberId}
    </select>

    <insert id="savePointUsageLog">
        INSERT INTO
            green_point (member_id, item_id, amount)
        VALUES
            (#{memberId}, NULL, #{amount})
    </insert>


    <select id="getPointHistory" resultType="com.futurenet.cotree.greenpoint.domain.GreenPoint">
        SELECT id, member_id, item_id, amount, CAST(created_at AS TIMESTAMP) AS createdAt
        FROM GREEN_POINT
        WHERE member_id = #{memberId}
        ORDER BY created_at DESC
        OFFSET #{page} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>
</mapper>

