<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.futurenet.cotree.greenpoint.repository.GreenPointRepository">

    <select id="getPoint" parameterType="long">
        SELECT NVL(SUM(amount), 0) AS point
        FROM green_point
        WHERE member_id = #{memberId}
    </select>

    <insert id="savePointUsageLog">
        INSERT INTO
            green_point (member_id, amount)
        VALUES
            (#{memberId}, #{amount})
    </insert>

    <insert id="savePoint" parameterType="com.futurenet.cotree.greenpoint.dto.GreenPointSaveRequest">
        INSERT INTO green_point(member_id, payment_id, amount)
        VALUES (#{request.memberId}, #{request.paymentId}, #{request.amount})
    </insert>


    <select id="getPointHistory" resultType="com.futurenet.cotree.greenpoint.domain.GreenPoint">
        SELECT id, member_id, payment_id, amount, CAST(created_at AS TIMESTAMP) AS createdAt
        FROM GREEN_POINT
        WHERE member_id = #{memberId}
        ORDER BY created_at DESC, id DESC
        OFFSET #{page} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="countPointHistory" resultType="int">
        SELECT COUNT(*)
        FROM green_point
        WHERE member_id = #{memberId}
    </select>
</mapper>

