<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.futurenet.cotree.item.repository.ItemRepository">

    <select id="findItemsByCategory" resultType="com.futurenet.cotree.item.domain.Item">
        SELECT I.ID, I.CATEGORY_ID, I.NAME, I.PRICE, I.ORIGIN, I.DISCOUNT,
        I.IS_GREEN AS isGreen, I.THUMBNAIL_IMAGE as thumbnailImage,
        B.NAME AS brandName, I.QUANTITY
        FROM ITEM I
        JOIN BRAND B ON I.BRAND_ID = B.ID
        <where>
            <if test="categoryId != 0">
                I.CATEGORY_ID = #{categoryId}
            </if>
        </where>
        ORDER BY I.ID DESC
        OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="findItemDetailById" resultType="com.futurenet.cotree.item.domain.ItemDetail">
        SELECT I.ID, I.NAME, I.PRICE, I.DISCOUNT, I.QUANTITY, I.ORIGIN, I.THUMBNAIL_IMAGE as thumbnailImage, B.NAME AS brandName, I.IS_GREEN AS isGreen, I.DESCRIPTION
        FROM ITEM I
        JOIN BRAND B ON I.BRAND_ID = B.ID
        WHERE I.ID = #{id}
    </select>

    <update id="decreaseStock">
        UPDATE item
        SET quantity = quantity - #{quantity}
        WHERE id = #{itemId} AND quantity >= #{quantity}
    </update>
    <select id="getEcoItems" resultType="com.futurenet.cotree.item.domain.Item">
        SELECT I.ID, I.CATEGORY_ID, I.NAME, I.PRICE, I.ORIGIN, I.DISCOUNT,
               I.IS_GREEN AS isGreen, I.THUMBNAIL_IMAGE as thumbnailImage,
               B.NAME AS brandName, I.QUANTITY
        FROM ITEM I
        JOIN BRAND B ON I.BRAND_ID = B.ID
        WHERE IS_GREEN = 'Y'
        ORDER BY I.ID DESC
        OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="getItemPriceAndIsEcoById">
        SELECT price, discount, is_green
        FROM item
        WHERE id = #{id}
    </select>
    <select id="searchItems" resultType="com.futurenet.cotree.item.domain.Item">
        SELECT I.ID, I.CATEGORY_ID, I.NAME, I.PRICE, I.ORIGIN, I.DISCOUNT,
        I.IS_GREEN AS isGreen, I.THUMBNAIL_IMAGE as thumbnailImage,
        B.NAME AS brandName, I.QUANTITY
        FROM ITEM I
        JOIN BRAND B ON I.BRAND_ID = B.ID
        <where>
            I.NAME LIKE '%' || #{keyword} || '%'

            <if test="categoryId != 0">
                AND I.CATEGORY_ID = #{categoryId}
            </if>

            <if test="isGreen != null">
                AND I.IS_GREEN = #{isGreen}
            </if>
        </where>
        ORDER BY I.ID DESC
        OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

</mapper>