<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.futurenet.cotree.item.repository.ItemRepository">

    <select id="getItemsByCategory" resultType="com.futurenet.cotree.item.domain.Item">
        SELECT I.ID, I.CATEGORY_ID, I.NAME, I.PRICE, I.ORIGIN, I.DISCOUNT,
        I.IS_GREEN AS isGreen, I.THUMBNAIL_IMAGE as thumbnailImage,
        B.NAME AS brandName, I.QUANTITY
        FROM ITEM I
        JOIN BRAND B ON I.BRAND_ID = B.ID
        <where>
            <if test="categoryId != 0">
                I.CATEGORY_ID = #{categoryId}
            </if>
        </where>
        ORDER BY I.ID DESC
        OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="getItemDetailById" resultType="com.futurenet.cotree.item.domain.ItemDetail">
        SELECT I.ID, I.NAME, I.PRICE, I.DISCOUNT, I.QUANTITY, I.ORIGIN, I.THUMBNAIL_IMAGE as thumbnailImage, B.NAME AS brandName, I.IS_GREEN AS isGreen, I.DESCRIPTION
        FROM ITEM I
        JOIN BRAND B ON I.BRAND_ID = B.ID
        WHERE I.ID = #{id}
    </select>

    <select id="getEcoItems" resultType="com.futurenet.cotree.item.domain.Item">
        SELECT I.ID, I.CATEGORY_ID, I.NAME, I.PRICE, I.ORIGIN, I.DISCOUNT,
               I.IS_GREEN AS isGreen, I.THUMBNAIL_IMAGE as thumbnailImage,
               B.NAME AS brandName, I.QUANTITY
        FROM ITEM I
        JOIN BRAND B ON I.BRAND_ID = B.ID
        WHERE IS_GREEN = 'Y'
        ORDER BY I.ID DESC
        OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="getItemPriceAndIsEcoByIds" resultType="com.futurenet.cotree.payment.dto.response.ItemPriceAndIsEcoResponse">
        SELECT id, price, discount, is_green as isGreen
        FROM item
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="searchItems" resultType="com.futurenet.cotree.item.domain.Item">
        SELECT I.ID, I.CATEGORY_ID, I.NAME, I.PRICE, I.ORIGIN, I.DISCOUNT,
        I.IS_GREEN AS isGreen, I.THUMBNAIL_IMAGE as thumbnailImage,
        B.NAME AS brandName, I.QUANTITY
        FROM ITEM I
        JOIN BRAND B ON I.BRAND_ID = B.ID
        <where>
            I.NAME LIKE '%' || #{keyword} || '%'

            <if test="categoryId != 0">
                AND I.CATEGORY_ID = #{categoryId}
            </if>

            <if test="isGreen != null">
                AND I.IS_GREEN = #{isGreen}
            </if>
        </where>
        ORDER BY I.ID DESC
        OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="getTotalItemCount" resultType="long">
        SELECT COUNT(*) as totalItemCount
        FROM item
    </select>

    <select id="getTotalEcoItemCount" resultType="long">
        SELECT COUNT(*) as totalEcoItemCount
        FROM item
        WHERE is_green = 'Y'
    </select>

    <select id="getTodayItems" resultType="com.futurenet.cotree.item.domain.Item">
        SELECT *
        FROM (
        SELECT I.ID, I.CATEGORY_ID, I.NAME, I.PRICE, I.ORIGIN, I.DISCOUNT,
        I.IS_GREEN AS isGreen, I.THUMBNAIL_IMAGE as thumbnailImage,
        B.NAME AS brandName, I.QUANTITY
        FROM ITEM I
        JOIN BRAND B ON I.BRAND_ID = B.ID
        ORDER BY DBMS_RANDOM.VALUE
        )
        WHERE ROWNUM &lt;= 20
    </select>

    <update id="bulkDecreaseStock" parameterType="com.futurenet.cotree.order.dto.request.OrderItemRegisterRequest">
        UPDATE item
        SET quantity = quantity - CASE id
        <foreach collection="request" item="item" separator=" ">
            WHEN #{item.itemId} THEN #{item.quantity}
        </foreach>
        ELSE 0
        END
        WHERE id IN
        <foreach collection="request" item="item" open="(" separator="," close=")">
            #{item.itemId}
        </foreach>
        AND quantity &gt;= CASE id
        <foreach collection="request" item="item" separator=" ">
            WHEN #{item.itemId} THEN #{item.quantity}
        </foreach>
        ELSE 0
        END
    </update>

    <update id="decreaseStock" parameterType="com.futurenet.cotree.order.dto.request.OrderItemRegisterRequest">
        UPDATE item
        SET quantity = quantity - #{request.quantity}
        WHERE id = #{request.itemId}
          AND quantity >= #{request.quantity}
    </update>

    <select id="lockItemsInOrder">
        SELECT id
        FROM item
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY id
        FOR UPDATE
    </select>


    <select id="getEventItems" resultType="com.futurenet.cotree.item.domain.Item">
        SELECT *
        FROM (
                 SELECT I.ID, I.CATEGORY_ID, I.NAME, I.PRICE, I.ORIGIN, I.DISCOUNT,
                        I.IS_GREEN AS isGreen, I.THUMBNAIL_IMAGE as thumbnailImage,
                        B.NAME AS brandName, I.QUANTITY
                 FROM ITEM I
                          JOIN BRAND B ON I.BRAND_ID = B.ID
                 ORDER BY I.QUANTITY DESC
             )
        WHERE isGreen = 'Y' AND ROWNUM &lt;= 60
    </select>


</mapper>