<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.cotree.tree.repository.TreeRepository">

    <insert id="saveTree">
        INSERT INTO tree (member_id)
        VALUES(#{memberId})
    </insert>

    <select id="getMyTree" resultType="int">
        SELECT exp
        FROM tree
        WHERE member_id = #{memberId}
    </select>

    <select id="getExp" parameterType="long" resultType="int">
        SELECT NVL(EXP, 0) as exp
        FROM tree
        WHERE member_id = #{memberId}
    </select>

    <update id="updateExp">
        UPDATE tree
        SET exp = #{exp}
        WHERE member_id = #{memberId}
    </update>
</mapper>