<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.cotree.member.repository.MemberRepository">
    <select id="getMemberByEmail" resultType="com.futurenet.cotree.member.domain.Member">
        SELECT id, provider
        FROM member
        WHERE email = #{email}
    </select>
    <select id="getMemberGenderAge" resultType="com.futurenet.cotree.member.dto.response.MemberGenderAgeResponse">
        SELECT GENDER, AGE_RANGE
        FROM MEMBER
        WHERE ID = #{id}
    </select>

    <insert id="saveOAuthMember" parameterType="com.futurenet.cotree.member.dto.request.OAuthSignupRequest"
            useGeneratedKeys="true"
            keyProperty="memberId"
            keyColumn="id">
        INSERT INTO member (email, provider, nickname, profile_image)
        VALUES(#{request.email}, #{request.provider}, #{request.nickname}, #{request.profileImage})
    </insert>

    <select id="getMyPageInfo" resultType="com.futurenet.cotree.member.dto.response.MyPageResponse">
        SELECT
        m.nickname,
        m.profile_image AS profileImage,
        m.age_range AS ageRange,
        m.gender,
        NVL(SUM(gp.AMOUNT), 0) AS greenPoint
        FROM member m
        LEFT JOIN green_point gp ON m.ID = gp.MEMBER_ID
        WHERE m.id = #{id}
        GROUP BY m.nickname, m.profile_image, m.age_range, m.gender
    </select>

    <update id="updateMemberInfo" parameterType="com.futurenet.cotree.member.dto.MemberUpdateInfoDto">
        UPDATE member
        <set>
            <if test="request.nickname != null">nickname = #{request.nickname},</if>
            <if test="request.ageRange != null">age_range = #{request.ageRange},</if>
            <if test="request.gender != null">gender = #{request.gender},</if>
            <if test="request.profileImage != null">profile_image = #{request.profileImage},</if>
        </set>
        WHERE
        id = #{request.id}
    </update>

    <update id="updateMemberAgeAndGender" parameterType="com.futurenet.cotree.member.dto.MemberUpdateAgeAndGenderDto">
        UPDATE member
        SET
        age_range = #{request.ageRange},
        gender = #{request.gender},
        updated_at = SYSDATE
        WHERE id = #{request.id}
    </update>

    <update id="updateMemberSignupStatus">
        UPDATE member
        SET
        is_signup_completed = 'Y'
        WHERE id = #{id}
    </update>

    <select id="getSignupStatusByMemberId">
        SELECT is_signup_completed
        FROM member
        WHERE id = #{id}
    </select>

    <select id="getNewMemberCount" resultType="long">
        SELECT COUNT(*) as newMemberCount
        FROM member
        WHERE created_at &gt;= #{from} AND created_at &lt; #{to}
    </select>
</mapper>