<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.futurenet.cotree.payment.repository.PaymentRepository">

    <insert id="savePayment" parameterType="com.futurenet.cotree.payment.dto.request.PaymentRegisterRequest"
            useGeneratedKeys="true"
            keyProperty="paymentId"
            keyColumn="id">
        INSERT INTO payment (order_id, card_number, bank, price)
        VALUES (#{request.orderId}, #{request.cardNumber}, #{request.bank}, #{request.price})
    </insert>

    <select id="getMonthlyRevenue" resultType="long">
        SELECT COALESCE(SUM(price), 0)
        FROM payment
        WHERE created_at &gt;= #{from} AND created_at &lt; #{to}
    </select>

    <select id="getMonthlyOrderCount" resultType="long">
        SELECT COUNT(*) as orderCount
        FROM payment
        WHERE created_at &gt;= #{from} AND created_at &lt; #{to}
    </select>
 </mapper>